<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <script type="text/javascript" src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script src="static/vue/vue-router.js"></script>
    <script src="static/vue/vue.min.js"></script>
    <script src="static/mint-ui/mint-ui.js"></script>
    <script src="static/pdf/build/pdf.js"></script>
    <script src="static/clipboard/clipboard.min.js"></script>
    <script src="static/lodash/lodash.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_1835047_xu0ndnwuucc.css"></script>
    <link rel="stylesheet" type="text/css" href="static/mint-ui/mint-ui.css">
    <title>电子发票</title>
  </head>
  <body style="margin:0;padding:0;">
    <script>
        
            let ua = navigator.userAgent;

            /*  check if wechat app */
            const ifWeixinBrowser = navigator.userAgent.toLowerCase().match(/MicroMessenger/i) == "micromessenger";

            /* check platform */
            let platform = "";

            if (ua.match(/iPhone|iPod|iPad/i)) { // 判断是否是iOS
                platform = "ios";
            }
            else if (ua.match(/android/i)) { // 判断是否是Android
                platform = "android";
            }
            else if (ua.match(/Windows/i)) 
            {
                platform = "windows";
            }
            else if(ua.match(/Mac/))
            {
                platform = "mac";
            }

            /* mark wechat app and platform */
            window.gtzn = {
                ifWeixinBrowser: ifWeixinBrowser,
                platform: platform,
            }
    </script>
    <noscript>
      <strong>We're sorry but Digital Invoice doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
