<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--默认是OFF-->
<!--monitorInterval="30" :间隔秒数,自动检测配置文件的变更和重新配置本身-->
<configuration status="WARN" monitorInterval="30">
    <Properties>
        <!--自定义一些常量，之后使用${变量名}引用-->
        <Property name="logFileDir">logs</Property>
    </Properties>

    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>

        <File name="test" fileName="${logFileDir}/test.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>

        <RollingFile name="normal" fileName="${logFileDir}/normal/normal.log"
                     filePattern="${logFileDir}/normal/$${date:yyyy-MM}/normal-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="company" fileName="${logFileDir}/company/company.log"
                     filePattern="${logFileDir}/company/$${date:yyyy-MM}/company-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>

    <loggers>
        <logger name="org.springframework" level="info"></logger>
        <logger name="org.mybatis" level="info"></logger>

        <root level="all">
            <appender-ref ref="console"/>
            <appender-ref ref="normal"/>
        </root>

        <AsyncLogger name="test" level="all" includeLocation="true" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="test"/>
        </AsyncLogger>

        <AsyncLogger name="company" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="company"/>
        </AsyncLogger>
    </loggers>
</configuration>